/* Base reset and global styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #343a40;
    color: #adb5bd;
    padding-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #c77dff;
}

/* Navigation styles */
.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #343a40;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding-left: 0;
}

nav a {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #c77dff;
    transition: color 0.3s;
}

nav a:hover {
    color: #ad5edf;
}

/* Gallery Styles */
.gallery {
    background: #343a40;
}

.gallery-item img {
    max-width: 400px; /* This will ensure the image width doesn't exceed its container's width */
    max-height: 400px; /* This will ensure the image height doesn't exceed 300px */
    margin: 0.7%; /* This will center the image within its container */
}

/* Masonry Grid Setup */
.grid-sizer,
.grid-item {
    width: 160px;  /* Masonry columns size */
    height: 120px;
    float: left; /* Part of the Masonry setup */
    background: #343a40;
}

.grid-item img {
    display: block;  /* Ensure images take up full height of their container */
    max-width: 100%; /* Images fit within their container width */
    height: auto;    /* Keep image proportions */
}

/* Make the "paintings" gallery visible by default */
#paintings {
    display: block;
}

/* Additional Styling */
.right-links {
    display: flex;
    gap: 15px;
}

.panel {
    background-color: #495057;
    border: 1px solid #adb5bd;
}

.highlight {
    color: #c77dff;
}
